*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(128, 109, 109);
}
h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 30px;
    text-align: center;
}
img{
    width: 900px;
    align-items: center;
    margin-left: 350px;
}